.comment {
    display: flex;
    height: 100%;
    border: 2px solid white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .comment__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 15%;
        border-right: 2px solid white;
    }
    .comment__img-cont {
        border-radius: 100%;
        height: 80%;
        width: 100%;
    }
    .comment__img {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }
    .comment__name {
    }
    .comment__message {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        text-align: center;
        height: 100%;
        border-radius: 25px;
        margin: 0 auto;
        background-color: gray;
        max-width: 100%;
        word-wrap: break-word;
        padding: 1px;
        line-height: 16px;
    }
}
