::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: #802056;
}
.filmRow {
    width: 100%;
    margin: 0 auto 20px;
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 10px;
}
.filmRowAndTrailer {
    max-width: 94%;
    margin: 0 auto 40px;
    display: flex;
    height: 40%;
    max-height: 600px;
    flex-direction: column;
    h2 {
        text-emphasis: center;
        margin: 0 auto;
        color: white;
        font-size: 32;
    }
}
