.App {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/nature-3232241.jpg') center center repeat;
    background-size: cover;
    background-color: black;
    height: 120vh;
}